.signup_card,.signin_card {
      margin: 100px auto 0;
      width: 60%;
}
@media screen and (max-width: 1200px) {
      .signup_card, .signin_card {
            margin: 60px auto 0;
            width: 90%;
      }
      .captcha_input {
            width: 58% !important;
      }
      .captcha_img {
            margin-left: 2%;
            width: 40% !important;
      }
}